:root {
  --black: #131515;
  --grey: #2b2c28;
  --white: #f5f5f4;
  --white-darker: #ececea;
}

body {
  background: var(--grey);
  font-family: 'Roboto', sans-serif;
}

header {
  background: var(--black);
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

select {
  border-radius: 3px;
  width: 120px;
  align-items: center;
}

button {
  margin-left: 5px;
}

select,
button {
  background-color: var(--white);
  height: 28px;
  border: 2px solid black;
  border-radius: 6px;
}

#version,
#chapter {
  width: 80px;
}

#chapter {
  margin-right: 5px;
  margin-left: 5px;
}

.row {
  color: var(--white);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

h1 {
  margin-left: 10px;
}

#text {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 25vw;
  margin-bottom: 20px;
}

.row-verse {
  margin-top: 8px;
  width: 60vw;
  max-width: 600px;
  min-width: 320px;
}

.verse-num {
  color: var(--white-darker);
  margin-right: 5px;
  align-self: flex-start;
  line-height: 25px;
}

.verse-content {
  color: var(--white);
  line-height: 25px;
}
